# 7.2 Advanced string formatting

Field width

In [58]:
names = ['Sadio Mane', 'Gabriel Jesus']
goals = [22, 7]



def maketable(fstring1, fstring2):
   print(fstring1)        
   print('-' * 24)
   for i in range(2):
       print(fstring2)

Left-aligned

In [62]:
fstring1 = f'{"Player Name":<16}{"Goals":<8}'
fstring2= f'{names[i]:<16}{goals[i]:<8}'

maketable(fstring1, fstring2)

Player Name     Goals
------------------------
Gabriel Jesus   7
Gabriel Jesus   7

Right-aligned

In [63]:
fstring1 = f'{"Player Name":>16}{"Goals":>8}'
fstring2 = f'{names[i]:>16}{goals[i]:>8}'

maketable(fstring1, fstring2)

     Player Name   Goals
------------------------
   Gabriel Jesus       7
   Gabriel Jesus       7

Centered

In [66]:
fstring1 =f'{"Player Name":^16}{"Goals":^8}'
fstring2 = f'{names[i]:^16}{goals[i]:^8}'

maketable(fstring1, fstring2)

  Player Name    Goals
------------------------
 Gabriel Jesus     7
 Gabriel Jesus     7

Using fill characters to pad tables.

In [71]:
name = 'Wayne Rooney'
goals = 36
# Use default empty space fill character
print(f'{name:<16}{goals:>6}')

# Use '0' as a fill character for score
print(f'{name:<16}{goals:0>6}')

# Use '_' as fill character for name
print(f'{name:_<16}{goals:0>6}')

Wayne Rooney        36
Wayne Rooney    000036
Wayne Rooney____000036

String food_name is read from input. Output the following:
food_name with a width of 10 characters, left-aligned, and with the fill character '-'.
food_name with a width of 10 characters, centered, and with the fill character '-'.

In [72]:
food_name = input()
print(f'{food_name:-<10}')
print(f'{food_name:-^10}')

Carrot
Carrot----
--Carrot--

Floating-point number lap_length is read from input. Output 'Miles: ', followed by lap_length to 2 decimal places.

In [79]:
lap_length = float(input())
print(f'Miles: {lap_length:.2f}')

25
Miles: 25.00

Three strings are read from input and stored into list plants. Then, three more strings are read from input and stored into list planted. Lastly, string separator_char is read from input. Output the following lines:

"Plants", with a field width of 21, centered, and followed by '|'. Then "Planted", with a field width of 21, centered.
42 instances of separator_char.
plants[0], with a field width of 21, left-aligned, and followed by '|'. Then, planted[0] with a field width of 21, left-aligned.
plants[1], with a field width of 21, left-aligned, and followed by '|'. Then, planted[1] with a field width of 21, left-aligned.
plants[2], with a field width of 21, left-aligned, and followed by '|'. Then, planted[2] with a field width of 21, left-aligned.

In [87]:
plants = input("Plants: ").split()
planted = input("Planted: ").split()
separator_char = input("Seperator: ")

def maketable():
   print(f'{"Plants":^21}|{"Planted":^21}')        
   print(separator_char * 42)
   for i in range(len(plants)):
       print(f'{plants[i]:<21}|{planted[i]:<21}') 

maketable()

Plants: Beans Corn Squash
Planted: Tomatoes Carrots Beans
Seperator: -
       Plants        |       Planted
------------------------------------------
Beans                |Tomatoes
Corn                 |Carrots
Squash               |Beans

# 7.3 String methods

replace(old, new) —Returns a copy of the string with all occurrences of the substring old replaced by the string new. The old and new arguments may be string variables or string literals.

replace(old, new, count) —Same as above, except replace(old, new, count) only replaces the first count occurrences of old.

In [4]:
phrase = 'Someday I will have three goats, six horses, and nine llamas.'

phrase = phrase.replace('three', 'tres')

print('Translation:', phrase)

Translation: Someday I will have tres goats, six horses, and nine llamas.

find(x) -- Returns the index of the first occurrence of item x in the string, otherwise, find(x) returns -1. x may be a string variable or string literal. Recall that in a string, the index of the first character is 0, not 1. If

In [14]:
my_str = 'Boo Hoo!'

In [15]:
my_str.find('!')  # Returns 7

7

In [16]:
my_str.find('Boo')  # Returns 0

0

In [17]:
my_str.find('oo')  # Returns 1 (first occurrence only)

1

find(x, start) —Same as find(x), but begins the search at index start:

In [18]:
my_str.find('oo', 2)  # Returns 5

5

find(x, start, end) -- Same as find(x, start), but stops the search at index end - 1:

In [19]:
my_str.find('oo', 2, 4)  # Returns -1 (not found)

-1

rfind(x) -- Same as find(x) but searches the string in reverse, returning the last occurrence in the string.

Another useful function is count, which counts the number of times a substring occurs in the string:

count(x) -- Returns the number of times x occurs in the string.

In [20]:
my_str.count('oo')  # Returns 2

2

In [23]:
'Hello' == 'Hello' #The strings are exactly identical values

True

In [25]:
'Hello' == 'Hello!' #The left hand string does not end with '!'.

False

In [26]:
'Yankee Sierra' > 'Amy Wise' #The first character of the left side 'Y' is "greater than" (in ASCII value) the first character of the right side 'A'.

True

In [27]:
'Yankee Sierra' > 'Yankee Zulu' #The characters of both sides match until the second word. The first character of the second word on the left 'S' is not "greater than" (in ASCII value) the first character on the right side 'Z'.

False

In [28]:
'seph' in 'Joseph' #The substring 'seph' can be found starting at the 3rd position of 'Joseph'.

True

In [29]:
'jo' in 'Joseph' #'jo' (with a lowercase 'j') is not in 'Joseph' (with an uppercase 'J').

False

Methods to check a string value that returns a True or False Boolean value:
isalnum() -- Returns True if all characters in the string are lowercase or uppercase letters, or the numbers 0-9.
isdigit() -- Returns True if all characters are the numbers 0-9.
islower() -- Returns True if all cased characters are lowercase letters.
isupper() -- Returns True if all cased characters are uppercase letters.
isspace() -- Returns True if all characters are whitespace.
startswith(x) -- Returns True if the string starts with x.
endswith(x) -- Returns True if the string ends with x.

Methods to create new strings:
capitalize() -- Returns a copy of the string with the first character capitalized and the rest lowercased.
lower() -- Returns a copy of the string with all characters lowercased.
upper() -- Returns a copy of the string with all characters uppercased.
strip() -- Returns a copy of the string with leading and trailing whitespace removed.
title() -- Returns a copy of the string as a title, with first letters of words capitalized.

In [32]:
name = input('Enter passenger name:\n').strip().upper()
print(name)

Enter passenger name:
sfgdsdfgbsd
SFGDSDFGBSD