# 7.2 Advanced string formatting

#### Field width

In [58]:
names = ['Sadio Mane', 'Gabriel Jesus']
goals = [22, 7]



def maketable(fstring1, fstring2):
   print(fstring1)        
   print('-' * 24)
   for i in range(2):
       print(fstring2)

Left-aligned

In [62]:
fstring1 = f'{"Player Name":<16}{"Goals":<8}'
fstring2= f'{names[i]:<16}{goals[i]:<8}'

maketable(fstring1, fstring2)

Player Name     Goals
------------------------
Gabriel Jesus   7
Gabriel Jesus   7

Right-aligned

In [63]:
fstring1 = f'{"Player Name":>16}{"Goals":>8}'
fstring2 = f'{names[i]:>16}{goals[i]:>8}'

maketable(fstring1, fstring2)

     Player Name   Goals
------------------------
   Gabriel Jesus       7
   Gabriel Jesus       7

Centered

In [66]:
fstring1 =f'{"Player Name":^16}{"Goals":^8}'
fstring2 = f'{names[i]:^16}{goals[i]:^8}'

maketable(fstring1, fstring2)

  Player Name    Goals
------------------------
 Gabriel Jesus     7
 Gabriel Jesus     7

#### Using fill characters to pad tables.

In [71]:
name = 'Wayne Rooney'
goals = 36
# Use default empty space fill character
print(f'{name:<16}{goals:>6}')

# Use '0' as a fill character for score
print(f'{name:<16}{goals:0>6}')

# Use '_' as fill character for name
print(f'{name:_<16}{goals:0>6}')

Wayne Rooney        36
Wayne Rooney    000036
Wayne Rooney____000036

String food_name is read from input. Output the following:
food_name with a width of 10 characters, left-aligned, and with the fill character '-'.
food_name with a width of 10 characters, centered, and with the fill character '-'.

In [72]:
food_name = input()
print(f'{food_name:-<10}')
print(f'{food_name:-^10}')

Carrot
Carrot----
--Carrot--

Floating-point number lap_length is read from input. Output 'Miles: ', followed by lap_length to 2 decimal places.

In [79]:
lap_length = float(input())
print(f'Miles: {lap_length:.2f}')

25
Miles: 25.00

Three strings are read from input and stored into list plants. Then, three more strings are read from input and stored into list planted. Lastly, string separator_char is read from input. Output the following lines:

"Plants", with a field width of 21, centered, and followed by '|'. Then "Planted", with a field width of 21, centered.
42 instances of separator_char.
plants[0], with a field width of 21, left-aligned, and followed by '|'. Then, planted[0] with a field width of 21, left-aligned.
plants[1], with a field width of 21, left-aligned, and followed by '|'. Then, planted[1] with a field width of 21, left-aligned.
plants[2], with a field width of 21, left-aligned, and followed by '|'. Then, planted[2] with a field width of 21, left-aligned.

In [87]:
plants = input("Plants: ").split()
planted = input("Planted: ").split()
separator_char = input("Seperator: ")

def maketable():
   print(f'{"Plants":^21}|{"Planted":^21}')        
   print(separator_char * 42)
   for i in range(len(plants)):
       print(f'{plants[i]:<21}|{planted[i]:<21}') 

maketable()

Plants: Beans Corn Squash
Planted: Tomatoes Carrots Beans
Seperator: -
       Plants        |       Planted
------------------------------------------
Beans                |Tomatoes
Corn                 |Carrots
Squash               |Beans

# 7.3 String methods

replace(old, new) —Returns a copy of the string with all occurrences of the substring old replaced by the string new. The old and new arguments may be string variables or string literals.

replace(old, new, count) —Same as above, except replace(old, new, count) only replaces the first count occurrences of old.

In [4]:
phrase = 'Someday I will have three goats, six horses, and nine llamas.'

phrase = phrase.replace('three', 'tres')

print('Translation:', phrase)

Translation: Someday I will have tres goats, six horses, and nine llamas.

find(x) -- Returns the index of the first occurrence of item x in the string, otherwise, find(x) returns -1. x may be a string variable or string literal. Recall that in a string, the index of the first character is 0, not 1. If

In [14]:
my_str = 'Boo Hoo!'

In [15]:
my_str.find('!')  # Returns 7

7

In [16]:
my_str.find('Boo')  # Returns 0

0

In [17]:
my_str.find('oo')  # Returns 1 (first occurrence only)

1

find(x, start) —Same as find(x), but begins the search at index start:

In [18]:
my_str.find('oo', 2)  # Returns 5

5

find(x, start, end) -- Same as find(x, start), but stops the search at index end - 1:

In [19]:
my_str.find('oo', 2, 4)  # Returns -1 (not found)

-1

rfind(x) -- Same as find(x) but searches the string in reverse, returning the last occurrence in the string.

Another useful function is count, which counts the number of times a substring occurs in the string:

count(x) -- Returns the number of times x occurs in the string.

In [20]:
my_str.count('oo')  # Returns 2

2

In [23]:
'Hello' == 'Hello' #The strings are exactly identical values

True

In [25]:
'Hello' == 'Hello!' #The left hand string does not end with '!'.

False

In [26]:
'Yankee Sierra' > 'Amy Wise' #The first character of the left side 'Y' is "greater than" (in ASCII value) the first character of the right side 'A'.

True

In [27]:
'Yankee Sierra' > 'Yankee Zulu' #The characters of both sides match until the second word. The first character of the second word on the left 'S' is not "greater than" (in ASCII value) the first character on the right side 'Z'.

False

In [28]:
'seph' in 'Joseph' #The substring 'seph' can be found starting at the 3rd position of 'Joseph'.

True

In [29]:
'jo' in 'Joseph' #'jo' (with a lowercase 'j') is not in 'Joseph' (with an uppercase 'J').

False

Methods to check a string value that returns a True or False Boolean value:
isalnum() -- Returns True if all characters in the string are lowercase or uppercase letters, or the numbers 0-9.
isdigit() -- Returns True if all characters are the numbers 0-9.
islower() -- Returns True if all cased characters are lowercase letters.
isupper() -- Returns True if all cased characters are uppercase letters.
isspace() -- Returns True if all characters are whitespace.
startswith(x) -- Returns True if the string starts with x.
endswith(x) -- Returns True if the string ends with x.

Methods to create new strings:
capitalize() -- Returns a copy of the string with the first character capitalized and the rest lowercased.
lower() -- Returns a copy of the string with all characters lowercased.
upper() -- Returns a copy of the string with all characters uppercased.
strip() -- Returns a copy of the string with leading and trailing whitespace removed.
title() -- Returns a copy of the string as a title, with first letters of words capitalized.

In [32]:
name = input('Enter passenger name:\n').strip().upper()
print(name)

Enter passenger name:
sfgdsdfgbsd
SFGDSDFGBSD

# 7.4 Splitting and joining strings

### The split() method

In [88]:
'a#b#c'.split('#') #uses the "#" separator to split the string "a#b#c" into the three tokens ['a', 'b', 'c'].

['a', 'b', 'c']

In [89]:
'Martin Luther King Jr.'.split() #splits the string literal "Martin Luther King Jr." using any whitespace character as the default separator and returns the list of tokens ['Martin', 'Luther', 'King', 'Jr.'].

['Martin', 'Luther', 'King', 'Jr.']

### The join() method

The join() string method performs the inverse operation of split() by joining a list of strings together to create a single string.

In [92]:
my_str = '@'.join(['billgates', 'microsoft'])
print(my_str)

billgates@microsoft

In [93]:
phrases = ['To be, ', 'or not to be.\n', 'That is the question.']

sentence = ''.join(phrases)
print(sentence)

To be, or not to be.
That is the question.

### Using the split() and join() methods together

In [96]:
path = 'C:/Users/Wolfman/Documents/report.pdf'

new_separator = input('Enter new separator: ')
tokens = path.split('/')
print(new_separator.join(tokens))

Enter new separator: \
C:\Users\Wolfman\Documents\report.pdf

String date_of_birth is read from input. Split date_of_birth into tokens using a forward slash ('/') as the separator and assign birthdate_fields with the result.

Ex: If the input is 1/28/1962, then the output is:

['1', '28', '1962']

In [97]:
date_of_birth = input()

birthdate_fields = date_of_birth.split('/')

print(birthdate_fields)

2/5/95
['2', '5', '95']

String color_choices and integer sues_choice are read from input. Perform the following tasks:

Split color_choices into tokens using a comma (',') as the separator and assign color_list with the result.
Output "Sue's color is ", followed by the element at index sues_choice in color_list.

In [99]:
color_choices = input("color_choices: ")
sues_choice = int(input("sues_choice: "))

color_list = color_choices.split(',')
print(f"Sue's color is {color_list[sues_choice]}")

color_choices: violet,pink,ochre,aqua,lavender
sues_choice: 2
Sue's color is ochre

List robs_list is read from input. Join the strings in robs_list together to create a single string with '; ' as the separator and assign beverage_names with the result.

Ex: If the input is pepsi milk eggnog, then the output is:

Rob's beverages: pepsi; milk; eggnog

In [103]:
robs_list = input().split()

beverage_names = '; '.join(robs_list)

print(f"Rob's beverages: {beverage_names}")

pepsi milk eggnog
Rob's beverages: pepsi; milk; eggnog

# 7.5 LAB: Checker for integer string

Forms often allow a user to enter an integer. Write a program that takes in a string representing an integer as input, and outputs Yes if every character is a digit 0-9 or No otherwise.

Ex: If the input is:

1995
the output is:

Yes
Ex: If the input is:

42,000
or any string with a non-integer character, the output is:

No

In [107]:
user_string = input()

user_string = user_string.strip()

if user_string.isdigit() == True:
    print("Yes")
else:
    print("No")

42,000
No